@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header text-center bg-primary text-white">
            <h1>@ViewData["Title"]</h1>
        </div>
        <div class="card-body">
            @{
                if (Model.DisplayConfirmAccountLink)
                {
                    <p class="text-center">
                        This app does not currently have a real email sender registered, see
                        <a href="https://aka.ms/aspaccountconf" target="_blank">these docs</a>
                        for how to configure a real email sender.
                    </p>
                    <p class="text-center">
                        Normally this would be emailed:
                        <a id="confirm-link" href="@Model.EmailConfirmationUrl" class="btn btn-primary">
                            Click here to confirm your account
                        </a>
                    </p>
                }
                else
                {
                    <p class="text-center">
                        Please check your email to confirm your account.
                    </p>
                }
            }
        </div>
    </div>
</div>
