@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend Email Confirmation";
}

<div class="container mt-5">
    <div class="text-center mb-4">
        <h1 class="display-5">@ViewData["Title"]</h1>
        <h2 class="h5 text-muted">Enter your email</h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow border-0">
                <div class="card-body">
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger" role="alert"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" id="emailInput" placeholder="name@example.com" aria-required="true" />
                            <label asp-for="Input.Email" class="form-label" for="emailInput">Email address</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Resend</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
